@import url('https://fonts.googleapis.com/css?family=Kanit');
body{
  background-image: url("Healthy-Life.png");
  background-color: MistyRose;
}
.header {
    padding: 10px 10px 10px 10px;
    background-color: Magenta ;
    font-size: 20px ;
}
.header a {
    color:white;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align: center;
}
p {
  font-family: 'Kanit', sans-serif;
  color:red ;
  font-size: 20px ;

}
.textAbout {
    border: 3px solid black;
    border-width: 14px;
    border-style: ridge;
    border-color: MediumVioletRed ;
    position: relative;
    padding: 30px;
    top: -170px;
    width: 500px;
    height: 200px;
    font-size: 25px;
    margin: 200px;
    overflow-wrap: break-word;
    background-color: Moccasin ;
    align-items: center;
    justify-content: center;}.header a {
    color:white;
}
.myButton {
    background-color: Fuchsia ;
    color: white;
    width: 500px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
div {
    background-color: lightgrey;
    width: 600px;
    border: 25px Violet ;
    padding: 25px;
    margin: 25px;
    border-style: ridge;
}

.myButton:hover, .myButton:focus {
    background-color: LightPink ;
}
input[type=submit] {
    width: 200px;
    font-size: 20px;
    background-color: HotPink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;}
